.edit-message {
    font-family: "Arial Rounded MT Bold", sans-serif;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 25%;
    bottom: 25%;
    left: 25%;
    right: 25%;
    border: #222222 1px solid;
    border-radius: 15px;
    background-color: azure;
}

.edit-header {
    text-align: center;
    font-size: 24px;
    padding: 10px;
}

.edit-message-input {
    resize: none;
    font-size: 20px;
    height: 85%;
    background-color: azure;
    border: none;
    border-top: #222222 1px solid;
}

.edit-message-input:focus {
    outline: none;
}

.edit-button-holder {
    display: flex;
    justify-content: flex-end;
}

.edit-message-button {
    font-size: 24px;
    color: #222222;
    background-color: #c7f9ff;
    margin: 5px;
    border-radius: 15px;
    border-color: #888888;
}

.edit-message-close {
    font-size: 24px;
    color: #222222;
    background-color: #dddddd;
    border-color: #888888;
    border-radius: 15px;
    margin: 5px 5px 5px 25px;
}

.edit-message-button:hover,
.edit-message-close:hover {
    cursor: pointer;
}
