.form {
    display: flex;
    flex-direction: column;

    font-family: "Arial Rounded MT Bold", sans-serif;
    font-size: 22px;
    position: fixed;
    top: 30%;
    left: 50%;
    -webkit-transform: translate(-50%, -30%);
    transform: translate(-50%, -50%);

    width:fit-content;
    border: 1px solid #555555;
    border-radius: 15px;
    background-color: azure;
    padding: 5px;
}

.form-input-holder {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
}

.form-input {
    width: 200px;
    font-family: "Arial Rounded MT Bold", sans-serif;
    font-size: 22px;
    margin-left: 5px;
    border-radius: 10px;
}

.form-input:focus{
    outline: none;
}

.form-button {
    margin-top:10px;
    font-family: "Arial Rounded MT Bold", sans-serif;
    font-size: 22px;
    background-color: #c7f9ff;
    border: 1px solid #888888;
    border-radius: 10px;
}

.form-button:hover{
    cursor: pointer;
}
