.message-input {
    margin: auto;
    width: 90%;
    display: flex;
    min-height: 35px;
}

.message-input-text {
    font-family: "Arial Rounded MT Bold", sans-serif;
    font-size: 18px;
    width: 90%;
    resize: none;
    border-radius: 10px;
}

.message-input-text:focus {
    outline: none;
}

.message-input-button {
    font-family: "Arial Rounded MT Bold", sans-serif;
    color: #222222;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: #c7f9ff;
    border: 1px solid #888888;
    border-radius: 15px;
    font-size: 26px;
    width: 10%;
    margin-right: 0;
    margin-left: 10px;
}

.message-input-button:hover {
    cursor: pointer;
}