.header {
    display: flex;
    align-items: center;
    font-family: "Arial Rounded MT Bold", sans-serif;
    font-size: 22px;
    color: #222222;
    background-color: white;
    white-space: nowrap;
    position: fixed;
    left: 5%;
    right: 5%;
    top:0;
    height: 30px;
}

.header-title {
    margin-left: 10px;
    margin-right: 10px;
}

.header-users-count {
    margin-left: 40px;
    margin-right: 10px;
}

.header-messages-count {
    margin-left: 40px;
    margin-right: 10px;
}

.header-last-message-date {
    margin-left: auto;
    margin-right: 10px;
}

.participants-button{
    font-family: "Arial Rounded MT Bold", sans-serif;
    font-size: 22px;
    color: #222222;
    background-color: #c7f9ff;
    border: 1px solid #888888;
    border-radius: 10px;
}

.participants-button:hover{
    cursor: pointer;
}
