.user-list {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 60%;
    font-family: "Arial Rounded MT Bold", sans-serif;
    font-size: 20px;
}

.user-list-button-holder {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-list-button{
    background-color: #c7f9ff;
    font-family: "Arial Rounded MT Bold", sans-serif;
    font-size: 22px;
    padding: 5px;
    border: 1px solid #888888;
    border-radius: 15px;
}

.user-list-button:hover{
    cursor: pointer;
}