.user{
    display: flex;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: #888888 1px solid;
    border-radius: 15px;
    background-color: azure;
    align-items: center;
}

.admin{
    background-color: #c7f9ff;
}

.user-avatar {
    width:40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 5px;
}

.role-and-buttons-holder{
    margin-left:auto;
    display: flex;
    align-items: center;
}

.role {
    margin-left: 5px;
    margin-right: 5px;
}

.user-button{
    background-color: transparent;
    font-family: "Arial Rounded MT Bold", sans-serif;
    font-size: 20px;
    border: 1px solid #888888;
    border-radius: 15px;
    margin-left: 5px;
    margin-right: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.user-button:hover{
    cursor: pointer;
}

.delete-button{
    margin-left: 1vw;
    background-color: #ff9494;
}