.message{
    font-family: "Arial Rounded MT Bold", sans-serif;
    font-size: 16px;
    color: #222222;
    width: 60%;
    background-color: azure;
    border: 2px solid azure;
    margin-bottom: 2px;
    display: flex;
    flex-direction: column;
    padding: 8px;
    border-radius: 25px;
}

.own-message{
    width: 60%;
    color: #222222;
    background-color: #c7f9ff;
    font-family: "Arial Rounded MT Bold", sans-serif;
    font-size: 16px;
    border: 2px solid #c7f9ff;
    border-radius: 25px;
    margin-bottom: 2px;
    display: flex;
    flex-direction: column;
    padding: 8px;
    margin-right: 0;
    margin-left:auto;
}

.avatar-and-nickname-holder{
    display: flex;
    align-items: center;
}

.message-text{
    margin: 5px 10px 5px 10px;
}

.message-time{
    margin-left: auto;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 14px;
}

.like-holder{
    display: flex;
    margin-left: auto;
    margin-right: 10px;
    align-items: center;
}

.message-like{
    background: transparent;
    border: none;
}

.message-liked{
    border: 2px solid red;
}

.like-icon{
    font-size: 16px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.message-edit{
    font-size: 18px;
    margin: 5px;
    opacity: 90%;
    background: transparent;
    border:none;
}

.message-delete{
    font-size: 18px;
    margin-left: 10px;
    margin-right: 5px;
    opacity: 50%;
    background: transparent;
    border:none;
}

.button-holder{
    margin-left: auto;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.message-user-name{
    font-size: 22px;
    margin: 10px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}

.message-user-avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.message-like:hover,
.message-edit:hover,
.message-delete:hover{
    color: black;
    opacity: 100%;
    cursor: pointer;
}